p {
    background-color: rgb(29, 235, 10);
    padding: 20px 20px;
    margin: 20px 40px;
    outline: 20px solid darkblue;
    border: 5px solid blue;
    border-radius: 20px;
    text-align: center;

}
a:hover{
    color: blue;
    text-decoration: none;
}
a:visited{
    color:red;
}
a{
    text-decoration: green;
}